@charset "utf-8";
/**
 *Site Centre de Formation 2 Mille (cf2m)
 * @version		1.0
 *
 * @author		Andrei Pastrama 
 * @author		Eric Salla - Sallartiste Creative
 * @author		Romuald Baldy
 * @copyright	Author
 */
 
 /* RESET */
html, body, ul, ul li, form 
{
	padding:0; margin:0; list-style-type:none;
	/*font: "Arial";*/
}

/* GENERAL */
html, body 
{ 
    width:100%; 
	text-align:center; 
	background: url(../images/bground.jpg) no-repeat top center #5e6158;
	font:normal 12px/18px Verdana, Geneva, sans-serif; 
}

h1, h2, h3, h4, h5, h6 {font-family:Arial, Helvetica, sans-serif;}

a {outline: 0; text-decoration:none}

a img 
{
   border:none !important;
}

.clear
{
	clear:both;
}

.liremore
{
	color: #C00;
	font-size:.9em;
	text-decoration:none;
}

.hidden 
{
	display: none;
}


/* PAGES */
#wrapper
{
	/*border:1px solid red;*/
	width:1000px;
	margin:0 auto;
	min-height:800px;
	text-align:left;
}
/*---------------------------*/
/*---       HEADER      -----*/
/*---------------------------*/
#header
{
	/*border:1px solid green;*/
	height:150px;
	margin:15px 0 0px 0;
	background:#333;
	position:relative;
}

.nav-bottom
{
	/*border:1px solid red;*/
	float:right;
	width:450px;
	margin:0 20px 10px 0;
	position:relative;
}

nav
{
	/*border:1px solid green;*/
	margin:5px 0 5px 0;
	overflow:hidden;
}

nav ul
{
	padding:0;
	margin:0;
	list-style-type:none;
	float:right;
}

nav li
{
	padding:0 5px;
	margin:0;
	display:block;
	float:left;
	border-right: dotted #989a93 1px;
}

nav li:last-child
{
	border-right:none;
}

nav li a
{
	color:#989a93;
	font-size:.92em;
	text-decoration:none;
	padding:10px 0;
	margin:0;
	font-weight:bold;
}

nav li a:hover
{
	border-bottom:solid 3px #a65b2a;
	padding:0;
	margin:0;
	text-decoration:0;
}

.logo
{
	/*border:1px solid #960;*/
	width:350px;
	margin:25px 0 0 40px;
	float:left;
}

.logo a
{
	width:116px;
	height:80px;
	display:block;
	background:url(../images/icones/redlogoblanc.png) no-repeat center center;
}

.logo h2, .cf2m h2
{
	color:#fff;
	margin:5px 0;
	font-size:2em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.cf2m
{
	/*border: 1px solid green;*/
	width:400px;
	float:right;
	text-align:right;
	margin:40px 0 0 0;
}

.cf2m ul
{
	padding:0;
	margin:0;
	list-style-type:none;
	float:right;
}

.cf2m li
{
	padding:0 0 0 20px;
	margin:0;
	display:block;
	float:left;
}

.lolo
{
	/*border:1px solid yellow;*/
	text-align:right;
	margin-top:10px;
	color:#999;
}

.lolo a
{
	color:#999;
	font-weight:bold;
}

.lolo a:hover
{
	border-bottom:solid 3px #a65b2a;
	padding:0;
	margin:0;
	text-decoration:0;
}

#message
{
	color:#F90;
	text-align:right;
	font-weight:bold;
}


/*---------------------------*/
/*---------LOGIN------------*/
/*---------------------------*/
.login
{
	border:1px solid #CCC;
	height:40px;
	position:absolute;
	right:0;
	padding:5px 5px 0 5px;
	border-radius:5px 0 5px 5px;
	background:#CCC;
}

.login input[type="text"], input[type="password"]
{
	border:1px solid #999;
	border-radius:10px;
	height:20px;
	padding-left:10px;
}

.login input[type="submit"]
{
	border:1px solid #999;
	border-radius:10px;
	height:20px;
}


/*---------------------------*/
/*-----RECHERCHE FORM-------*/
/*---------------------------*/
.noprint
{
	position:relative;
}

.search
{
	/*border:1px solid #F66;*/
	text-align:right;
	height:22px;
	float:right;
	width:200px;
	background:#666;
	border-radius:10px;
	padding-right:10px;
	margin:55px 0 5px 0;
}

#searchbar 
{
	padding:0;
	margin:0;
	list-style-type:none;
}

#searchbar li 
{
	padding:0;
	margin:0;
	display: inline;
}

#searchbar img
{
	margin-top:2px;
}

.search input
{
	border-style:none;
	width:144px;
	height:20px;
	margin:0;
	padding:0;
	font-size:12px;
	float:left;
	padding-left:10px;
	color:#fff;
	background:transparent;
	border-radius:10px;
}

/*---------------------------*/
/*-----BANNER AND SLIDE------*/
/*---------------------------*/
#banner
{
	/*border:1px solid #F90;*/
	height:150px;
	background-color:#fff;
	/*margin-top:10px;*/
}

.slide
{
	background:url(../images/http.png) no-repeat left center;
}

.wdev
{
	background:url(../images/dev_web.jpg) no-repeat left center;
	position:relative;
}

.wdev h1
{
	height:60px;
	width:500px;
	background-color: rgba(255, 153, 0, 0.6);
	display:block;
	position:absolute;
	right:0;
	bottom:20px;
	color:#fff;
	font-size:3em;
	padding-right:10px;
	text-align:right;
	line-height:60px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
}

#banner.pao
{
	background:url(../images/pao_ban.jpg) no-repeat left center;
	position:relative;
}

.pao h1
{
	height:60px;
	width:500px;
	background-color: rgba(181, 0, 123, 0.6);
	display:block;
	position:absolute;
	right:0;
	bottom:20px;
	color:#fff;
	font-size:3em;
	padding-right:10px;
	text-align:right;
	line-height:60px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
}

#banner.aam
{
	background:url(../images/aam_ban.jpg) no-repeat left center;
	position:relative;
}

.aam h1
{
	height:60px;
	width:500px;
	background-color: rgba(25, 107,242, 0.6);
	display:block;
	position:absolute;
	right:0;
	bottom:20px;
	color:#fff;
	font-size:3em;
	padding-right:10px;
	text-align:right;
	line-height:60px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
}

.acompt
{
	background:url(../images/aide_ban.jpg) no-repeat left center;
	position:relative;
}

.acompt h1
{
	height:60px;
	width:500px;
	background-color: rgba(204, 204, 0, 0.6);
	display:block;
	position:absolute;
	right:0;
	bottom:20px;
	color:#fff;
	font-size:3em;
	padding-right:10px;
	text-align:right;
	line-height:60px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
}

.res
{
	background:url(../images/rezo_ban.jpg) no-repeat left center;
	position:relative;
}

.res h1
{
	height:60px;
	width:500px;
	background-color: rgba(255, 0, 0, 0.6);
	display:block;
	position:absolute;
	right:0;
	bottom:20px;
	color:#fff;
	font-size:3em;
	padding-right:10px;
	text-align:right;
	line-height:60px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
}

/*---------------------------*/
/*---------CONTENTS----------*/
/*---------------------------*/
#content
{
	/*border:1px solid white;*/
	min-height:550px;
	background:#fff;
	margin:10px 0 10px 0;
	padding-bottom:40px;
	position:relative;
	overflow:hidden;
	display:flex;
	flex-wrap:wrap;
}

.middle-content
{
	text-align:center;
	padding-top:10px;	
}

.middle-content h2
{
	padding-bottom:10px;
	font-size:1em;
	color:#666;
}

h2.intro 
{
	text-transform:uppercase;
	padding-top:30px;
	font-size:1.3em;
	
}

.demploi
{
	/*border:1px solid #FC0;*/
	width:470px;
	height:380px;
	float:left;
	margin:10px 0 20px 20px;
}

.demploi a:last-child
{
	width:125px;
	height:125px;
	background:url(../images/icones/demploi-picto.png) right center no-repeat;
	margin:0 auto;
	display:block;
	margin-bottom:20px;
	border:1px;
}

.demploi a:last-child:hover
{
	background:url(../images/icones/demploi-picto-hover.png) right center no-repeat;
}

.demploi article, .patron article
{
	margin-top:50px;
	text-transform:uppercase;
	color:#369;
	font-size:.9em;
	font-weight:bold;
}

.demploi a
{
	text-decoration:none;
	color:#cc0000;
	text-align:center;
	font-size:2em;
	bottom:0;
	right:0;
	padding:10px;
	font-family: 'Montserrat', sans-serif;
	display:block;
}

.patron
{
	border-left:1px solid #CCC;
	width:470px;
	height:380px;
	float:right;
	margin:10px 20px 20px 0px;
	padding-left:15px;
    position:relative;
}

.toggle
{
	/*border:1px solid red;*/
	color:#666;
	margin-top:10px;
	font-size:1.2em;
}

.picto
{
	width:125px;
	height:125px;
	display:block;
	margin:0 auto;
	background:url(../images/icones/demploi-picto.png) left center no-repeat;
	margin-bottom:20px;
}

.picto:hover
{
	width:125px;
	height:125px;
	display:block;
	margin:0 auto;
	background:url(../images/icones/demploi-picto-hover.png) left center no-repeat;
	margin-bottom:20px;
}

.patron a
{
	text-decoration:none;
	color:#999;
	text-align:center;
	font-size:2em;
	bottom:0;
	left:0;
	padding:10px;
	font-family: 'Montserrat', sans-serif;
	display:block;
}

.descript
{
	width:700px;
	margin:0 auto;
	color:#333;
	text-align:left;
	padding:5px;
	/*border:1px solid #CCC;*/
	/*border-radius:5px;*/
	/*box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.66);*/
}

/*---------------------------*/
/*------ADMINISTRATION-------*/
/*---------------------------*/
element_global
{
	/*border:1px solid #F03;*/
	width:285px;
	/*float:left;*/
	font-size:.95em;
	line-height:1.5em;
	margin:35px 0 0 35px;
	color:#333;
	
}

.editable
{
	/*border:1px solid green;*/
}

.element_global input[type="text"]
{
	width:280px;
	margin-bottom:5px;
	border:1px solid #ccc;
}

.element_global textarea
{
	width:280px;
	height:100px;
	margin-bottom:5px;
	border:1px solid #CCC;
}



/*--------------*/
/*---FOOTER----*/
/*-------------*/
footer
{
	/*border:1px solid #9F6;*/
	min-height:250px;
}

.footer-top
{
	background:#fff;
	/*height:150px;*/
	margin:0 0 10px;
	/*padding-left:15px;*/
}

.footer-top section
{
	float:left;
	width:300px;
	margin:10px 0px;
	padding-left:10px;
	margin-left:15px;
	/*border-left:1px solid #999;*/
}

.footer-top section h4
{
	font-family: 'Questrial', sans-serif;
	font-size:1.5em;
	color:#C00;
	margin:10px 0;
	border-bottom:1px solid #C00;
}

.footer-top section:nth-child(1)
{
	border-left:none;
	background-color:#CCC;
	padding:0 10px 10px 10px;
	margin-top:20px;
}

.footer-top section:nth-child(1) address
{
	border-bottom:1px solid #999;
	width:60%;
	margin-bottom:10px;
	padding-bottom:5px;
}

.footer-top section:nth-child(1) li
{
	padding:0 0 2px 30px;
	background:url(../images/icones/phone.png) no-repeat left center;
}

.footer-top section:nth-child(1) li:last-child
{
	padding-left:30px;
	background:url(../images/icones/email.png) no-repeat left center;
}

.footer-top section:nth-child(2) li
{
	list-style-type:square;
	margin-left:10px;
}

.footer-top section:nth-child(2) a
{
	text-decoration:none;
	color:#333;
	font-weight:normal;
}

.footer-top section:nth-child(2) a:hover
{
	text-decoration:underline;
	color:#C00;
}


.footer-top section:nth-child(3)
{
	font-size:1em;
}

.footer-top section:nth-child(3) span
{
	color:#C00;
	font-weight:bolder;
	font-style:italic;
}

.footer-top section:nth-child(3) p
{
	margin-bottom:10px;
	border-bottom:1px solid #CCC;
	color:#333;
}

.partenaires
{
	background:#fff;
	margin:0 0 10px 0;
	text-align:center;
}

.partenaires ul
{
	margin: 0;
	padding:10px 0;
}

.partenaires ul li
{
	display:inline-block;
	margin-left:40px;
}

.copy
{
	color:#CCC;
	margin-bottom:70px;
	vertical-align:central;
}

.copy section:first-child
{
	width:300px;
	float:left;
}

.copy section:first-child h4
{
	font-size:.9em;
}

.copy section:last-child
{
	width:300px;
	float:right;
	text-align:right;
}

.copy section:last-child p
{
	font-size:1.2em;
	margin-bottom:5px;
}

.copy section:last-child ul
{
	padding:0;
	margin:0;
	float:right;
}

.copy section:last-child li
{
	padding:0px;
	margin:0;
	display:inline-block;
	width:32px;
	height:32px;
}

.copy section:last-child li a
{
	display:inline-block;
	width:32px;
	height:32px;
}

.copy section:last-child li:nth-child(1)
{
	background:url(../images/icones/facebook_dark.png) no-repeat center center;
}

.copy section:last-child li:nth-child(2)
{
	background:url(../images/icones/google_dark.png) no-repeat center center;
}

.copy section:last-child li:nth-child(3)
{
	background: url(../images/icones/twitter02_dark.png) no-repeat center center;
}

.copy section:last-child li:nth-child(4)
{
	background:url(../images/icones/in_dark.png) no-repeat center center;
}

.copy section:last-child li:nth-child(5)
{
	background:url(../images/icones/google_dark.png) no-repeat center center;
}

.copy section:last-child li:nth-child(6)
{
	background:url(../images/icones/rss_dark.png) no-repeat center center;
}

.made
{
	color:#CCC;
	font-size:.9em;
	text-align:right;
	display:block;
	margin-bottom:20px;
}
/*--------------------------------*/
/*--HOOFT MENU ET MENU DEROULANT--*/
/*--------------------------------*/

.menu
{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
	background:url(../images/menuBg.gif) repeat-x #fff;
}

.menu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}


.menu a
{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #161B0A;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #000;*/
}

.menu li:hover > a
{
    color: #161B0A;
}

*html .menu li a:hover
{ /* IE6 */
        color: #161B0A;
}

.menu li:hover > ul
{
        display: block;
}

/* Sous-menu */

.menu ul
{
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

.menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu ul a
{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
	color:#CCC;
}

*html .menu ul 
{ /* IE6 */
	height: 10px;
	width: 150px;
}

*:first-child+html .menu ul a
{ /* IE7 */
	height: 10px;
	width: 150px;
}

.menu ul a:hover
{
	background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
	color:#CCCCCC;
}

.menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.menu ul li:first-child a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

.menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

.menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Rétablissement du flottement */
.menu:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .menu             { zoom: 1; } /* IE6 */
*:first-child+html .menu { zoom: 1; } /* IE7 */

/*---------------------------*/
/*---CONTENUES CATEGORIE-----*/
/*---------------------------*/

.title-cata
{
	height:45px;
	line-height:45px;
	padding:0 0 0 30px;
	font-size:1.6em;
	color:#fff;
	background:rgba(0, 0, 0, 0.8);
	flex: 100%;
}

.bgBtformation
{
	border:1px solid #CF0;
}

.formation_miniature, .envoye_ajax
{
	width:285px;
	float:left;
	font-size:.95em;
	line-height:1.5em;
	margin:35px 0 0 35px;
	color:#333;
	height:200px;
}

.formation_miniature>a:nth-child(1)
{
	width:285px;
	height:100px;
	/*border:1px solid gray;*/
	display:block;
	margin-bottom:10px;
    /*background:url(../images/sample.jpg) no-repeat center;
		background-size:cover;*/
}

.formation_miniature>*:nth-child(2)
{
	font-size:1.5em;
}

.web>*:nth-child(2) a
{
	color:#F90;
	border-bottom:1px solid #f90;
	display:block;
	margin-bottom:5px;
}

.pao>*:nth-child(2) a
{
	color:#b5007b;
	border-bottom:1px solid #b5007b;
	display:block;
	margin-bottom:5px;
}

.amm>*:nth-child(2) a
{
	color:#0081c6;
	border-bottom:1px solid #0081c6;
	display:block;
	margin-bottom:5px;
}

.aide>*:nth-child(2) a
{
	color:#bdcd00;
	border-bottom:1px solid #bdcd00;
	display:block;
	margin-bottom:5px;
}

.rezo>*:nth-child(2) a
{
	color:#c30;
	border-bottom:1px solid #c30;
	display:block;
	margin-bottom:5px;
}

.formation_miniature>*:nth-child(4) a
{
	font-size:1em;
}

.web1
{
	background:url(../images/sample.jpg) no-repeat center;
	width:285px;
	height:100px;
	display:block;
	/*background-size:cover;*/
}

.web1:hover
{
	background:url(../images/sample-over.jpg) no-repeat center ;
}

.pao1
{
	background:url(../images/pao.jpg) no-repeat center;
}

.pao1:hover
{
	background:url(../images/pao-over.jpg) no-repeat center;
}

.amm1
{
	background:url(../images/amm.jpg) no-repeat center;
}

.amm1:hover
{
	background:url(../images/amm-over.jpg) no-repeat center;
}

.aide1
{
	background:url(../images/aide.jpg) no-repeat center;
	/*border:1px solid #CCC;*/
}

.aide1:hover
{
	background:url(../images/aide-over.jpg) no-repeat center;
}

.rezo1
{
	background:url(../images/rezo.jpg) no-repeat center;
	/*border:1px solid #CCC;*/
}

.rezo1:hover
{
	background:url(../images/rezo-over.jpg) no-repeat center;
}
/*-----section information-----*/
.info
{
	/*background:#CCC;*/
}

.informa li a
{
	/*width:285px;
	height:40px;
	display:block;
	margin-bottom:13px;*/
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
	padding-left:10px;
	margin-bottom:5px;
	display:block;
	font-size:1.2em;
}

.informa li:nth-child(1)
{
}

.informa li:nth-child(1) a
{
	background:url(../images/download.png) no-repeat left center;
	width:285px;
	height:40px;
	display:block;
	margin-bottom:13px;
}

.informa li:nth-child(2) a
{
	/*background:url(../images/conditions.png) no-repeat left center;*/
	border-left:5px solid #063;
	border-bottom:1px dotted #666;
}

.informa li:nth-child(2) a:hover
{
	color:#063;
}

.informa li:nth-child(3) a
{
	/*background:url(../images/inscriptions.png) no-repeat left center;*/
	border-left:5px solid #F90;
	border-bottom:1px dotted #666;
}

.informa li:nth-child(3) a:hover
{
	color: #F90;
}

.informa li:nth-child(4) a
{
	/*background:url(../images/entreetest.png) no-repeat left center;*/
	border-left:5px solid #36F;
	border-bottom:1px dotted #666;
}


.informa li:nth-child(4) a:hover
{
	color: #36F;
}

/*---------------------------*/
/*---CONTENUES FORMATION-----*/
/*---------------------------*/
.content_miniature
{
	width:290px;
	font-size:.95em;
	line-height:1.5em;
	padding-bottom:10px;
	color:#333;
	margin:35px 0 0 35px;
	/*margin:35px 0 0 35px;*/
	/*border:1px solid #F03;*/
	/*float:left;*/
}

.content_miniature h2 a
{
	color:#fff;
}

.content_miniature h2
{
	color:#fff;
	font-size:1.5em;
	height:30px;
	line-height:30px;
	padding-left:20px;
}

.content_miniature span
{
	visibility:hidden;
}

.page-web h2
{
	background: rgb(255,176,57);
	background: -moz-linear-gradient(left,  rgba(255,176,57,1) 0%, rgba(246,119,0,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,176,57,1)), color-stop(100%,rgba(246,119,0,1)));
	background: -webkit-linear-gradient(left,  rgba(255,176,57,1) 0%,rgba(246,119,0,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,176,57,1) 0%,rgba(246,119,0,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,176,57,1) 0%,rgba(246,119,0,1) 100%);
	background: linear-gradient(to right,  rgba(255,176,57,1) 0%,rgba(246,119,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb039', endColorstr='#f67700',GradientType=1 );
}

.page-pao h2
{
	background: rgb(232,95,213);
	background: rgb(232,95,213);
	background: -moz-linear-gradient(left,  rgba(232,95,213,1) 0%, rgba(183,7,121,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(232,95,213,1)), color-stop(100%,rgba(183,7,121,1)));
	background: -webkit-linear-gradient(left,  rgba(232,95,213,1) 0%,rgba(183,7,121,1) 100%);
	background: -o-linear-gradient(left,  rgba(232,95,213,1) 0%,rgba(183,7,121,1) 100%);
	background: -ms-linear-gradient(left,  rgba(232,95,213,1) 0%,rgba(183,7,121,1) 100%);
	background: linear-gradient(to right,  rgba(232,95,213,1) 0%,rgba(183,7,121,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e85fd5', endColorstr='#b70779',GradientType=1 );
}

.page-aam h2
{
	background: rgb(67,178,219);
	background: -moz-linear-gradient(left,  rgba(67,178,219,1) 0%, rgba(0,28,140,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(67,178,219,1)), color-stop(100%,rgba(0,28,140,1)));
	background: -webkit-linear-gradient(left,  rgba(67,178,219,1) 0%,rgba(0,28,140,1) 100%);
	background: -o-linear-gradient(left,  rgba(67,178,219,1) 0%,rgba(0,28,140,1) 100%);
	background: -ms-linear-gradient(left,  rgba(67,178,219,1) 0%,rgba(0,28,140,1) 100%);
	background: linear-gradient(to right,  rgba(67,178,219,1) 0%,rgba(0,28,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b2db', endColorstr='#001c8c',GradientType=1 );
}

.page-aide h2
{
	background: rgb(153,201,70);
	background: rgb(195,204,77);
	background: -moz-linear-gradient(left,  rgba(195,204,77,1) 0%, rgba(143,165,0,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(195,204,77,1)), color-stop(100%,rgba(143,165,0,1)));
	background: -webkit-linear-gradient(left,  rgba(195,204,77,1) 0%,rgba(143,165,0,1) 100%);
	background: -o-linear-gradient(left,  rgba(195,204,77,1) 0%,rgba(143,165,0,1) 100%);
	background: -ms-linear-gradient(left,  rgba(195,204,77,1) 0%,rgba(143,165,0,1) 100%);
	background: linear-gradient(to right,  rgba(195,204,77,1) 0%,rgba(143,165,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3cc4d', endColorstr='#8fa500',GradientType=1 );
}

.page-rezo h2
{
	background: rgb(237,56,47);
	background: rgb(234,91,86);
	background: -moz-linear-gradient(left,  rgba(234,91,86,1) 0%, rgba(211,25,25,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(234,91,86,1)), color-stop(100%,rgba(211,25,25,1)));
	background: -webkit-linear-gradient(left,  rgba(234,91,86,1) 0%,rgba(211,25,25,1) 100%);
	background: -o-linear-gradient(left,  rgba(234,91,86,1) 0%,rgba(211,25,25,1) 100%);
	background: -ms-linear-gradient(left,  rgba(234,91,86,1) 0%,rgba(211,25,25,1) 100%);
	background: linear-gradient(to right,  rgba(234,91,86,1) 0%,rgba(211,25,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5b56', endColorstr='#d31919',GradientType=1 );

}



.content_miniature p
{
	font-size:1.05em;
	/*text-align:justify;*/
	padding-top:10px;
	line-height:1.5em;
	color:#333;
	/*text-indent:10px;*/
	font-family:Verdana, Geneva, sans-serif;
}

/*===========================*/
/*===== LES ONGLETS  ========*/
/*===========================*/

.page-web-onglet
{
	border:1px solid red;
	width:600px;
}


/*===========================*/
/*=== LES PAGES INTERNES  ===*/
/*===========================*/

/*-------a propos----------*/
.apropos, .procedures, .modstage, .dispostage
{
	margin: 40px 35px 0 100px;
	border-left:8px solid #CDCDCD;
	padding-left:30px;
}

.apropos p, .information p, .procedures p, .modstage p, .dispostage p
{
	text-align:justify;
}

.apropos h2, .information h2, .procedures h2, .modstage h2, .dispostage h2
{
	font-size:2em;
	margin-bottom:20px;
	font-family: 'Raleway', sans-serif;
	text-transform:uppercase;
}

.apropos span, .information span, .procedures span, .modstage span, .dispostage span
{
	visibility:hidden;
}

.apropos h2 a, .information h2 a, .procedures h2 a, .modstage h2 a, .dispostage h2 a
{
	color:#06F;
}

.aprop
{
	background:url(../images/apropos.jpg) center left;
}

.aprop h1, .info h1, .test h1, .mostages h1, .dispo h1
{
	visibility:hidden;
}

/*-------information--------*/
.information
{
	margin: 40px 35px 0 100px;
	border-left:8px solid #CDCDCD;
	padding-left:30px;
}

.info
{
	background:url(../images/information.png) center left no-repeat;
}

.test
{
	background:url(../images/procedure.png) center left no-repeat;
}


