div#admin img{
    width:10px;
    height:10px;
}

.content{
    border:solid 1px;
    background-color: white;
    margin: auto;
    width:80%;
    min-height: 500px;
}

footer{
    border:solid 1px;
    background-color: grey;
    width:80%;
    margin: auto;
}

body a{
    margin:auto;
    width:200px;
    display: block;
}

#header{
    border:solid 1px;
    width: 80%;
    margin: auto;
}
#menu_deroulant, #menu_deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu_deroulant {
    text-align: center;
}
#menu_deroulant li {
    display: inline-block;
}
#menu_deroulant ul li {
    display: inherit;
}
#menu_deroulant a {
    text-decoration: none;
    display: block;
	color:#000;
}
#menu_deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
}
#menu_deroulant li:hover ul {
    left: auto;
}


/*TEST Formations venant de BD*/
div.content .formation_miniature {
    border:solid 1px;
    display:inline-block;
    width:310px;
}

.formation_miniature img{
    width:300px;
    height:120px;
}